* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: var(--white-1);
}

:root {
  --white-1: #FFFFCC;
  --white-2: #FFFFFF;
  --brown: #A08040;
  --black: #101418;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}



.h-100 {
  height: 100%;
}

.only-mobile {
  visibility: hidden;
}

.only-large-screens {
  visibility: visible;
}

@media screen and (max-width: 1080px) {
  .only-mobile {
    visibility: visible;
  }


  .only-large-screens {
    visibility: hidden;
  }
}